<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/root.css">
    <title>
        <% if (locals.category) { %>
            Edit <%= category %> Category
        <% } else { %>
            Edit Category
        <% } %>
    </title>
</head>
<body>
    <h1 class="category-heading">
        Edit Category
    </h1>

    <%- include("partials/errors.ejs", { errors: locals.errors }) %>

    <%- include("partials/actionNotice.ejs", { target: category, action: 'Editing' }) %>

    <form action=<%= `/category/${categoryId}/edit` %> method="POST" class="edit-category-form">
        <div class="form-row">
            <label for="category">
                Category Name:
            </label>
            <input type="text" name="name" id="category" value="<%= category %>">
        </div>

        <% if (locals.permission !== 'Guest') { %>
            <div class="form-row">
                <label for="password">
                    <%= permission %> Password:
                </label>
                <input type="password" name="password" id="password">
            </div>
        <% } %>

        <button type="submit">Edit Category</button>
    </form>

    <a href="/" class="home-button">
        <img src="/icons/home.svg" alt="Go back to the homepage">
    </a>
</body>
</html>